<h1>Editing User Subscribtion Connection</h1>

<%= render 'form', user_subscribtion_connection: @user_subscribtion_connection %>

<%= link_to 'Show', @user_subscribtion_connection %> |
<%= link_to 'Back', user_subscribtion_connections_path %>
