
<div>
	<h1><%= @article.title %></h1>
	<div class="col-sm-6">
	</div>

	<div class="col-sm-5">
		<p><%= @article.body %></p>
	</div>
	<%= link_to("Back to ARticles", articles_path, class:"btn btn-success")%>
	<button class=""></button>
</div>