<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSigzu4B5na1uVXokG5JGC72LfY2FMXH3UDiOz30K_EHVTofiVw" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
