<% @bottle.each do |bottle| %>
	<table>
		<tr>
		  <th>Color</th>
		  <th>Brand</th>
		  <th>Table id</th>
		</tr>
      	<tr>
		    <td><%= bottle.color %></td>
		    <td><%= bottle.brand %></td>
			<td><%= bottle.table_id %></td>
      	</tr>
	</table>
<% end %>
