<h1>New Connection Between Developer And Project</h1>

<%= render 'form', connection_between_developer_and_project: @connection_between_developer_and_project %>

<%= link_to 'Back', connection_between_developer_and_projects_path %>
