<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="https://vignette.wikia.nocookie.net/playredstone/images/f/f5/Werewolf.png/revision/latest?cb=20080911192818" width="50" height="50" class="d-inline-block align-top" alt="">
		Blog
	</a>
</nav>
