<h1>Editing Client Product Connection</h1>

<%= render 'form', client_product_connection: @client_product_connection %>

<%= link_to 'Show', @client_product_connection %> |
<%= link_to 'Back', client_product_connections_path %>
