<h1>Editing Process A 25 Stefan Grozev</h1>

<%= render 'form', process_a_25_stefan_grozev: @process_a_25_stefan_grozev %>

<%= link_to 'Show', @process_a_25_stefan_grozev %> |
<%= link_to 'Back', process_a_25_stefan_grozevs_path %>
