<div class = "p-4">
  <h1> Title </h1>
  <div>
    <div class="row">
      <div class="col-sm-6">
      <%= image_tag "https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=350",class:"img-fluid"%>
      </div>
      <div class="col-sm-6">
        <p> Bodybodybodybodybodybodybodybody Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod
           Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod
           Bodybodybodybodybodybodybodybody Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod
              Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod Bodybodybodybodybodybodybodybod </p>
      </div>
    </div>
  </div>
  <%= link_to("Back to Articles", articles_path, class: "btn btn-success")%>
  
</div>
