<p id="notice"><%= notice %></p>

<p>
  <strong>Programs&Threads for this program:</strong>
  <%= @program_b_12.thread_id - @thread_b_12.id %>
</p>

<%= link_to 'Edit', edit_program_b_12_path(@program_b_12) %> |
<%= link_to 'Back', program_b_12s_path %>
