<h1>Editing Product Client Connection</h1>

<%= render 'form', product_client_connection: @product_client_connection %>

<%= link_to 'Show', @product_client_connection %> |
<%= link_to 'Back', product_client_connections_path %>
