<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_process_martin_m_thread_martin_m_path(@thread_martin_m.process_martin_m, @thread_martin_m) %> |
<%= link_to 'Back', process_martin_m_thread_martin_ms_path(@thread_martin_m.process_martin_m) %>
