<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://c8.alamy.com/comp/BDX1AW/porky-pig-warner-bros-cartoon-character-BDX1AW.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
