<p id="notice"><%= notice %></p>

<p>
  <strong>Processa06:</strong>
  <%= @thread_a06.processA06 %>
</p>

<%= link_to 'Edit', edit_thread_a06_path(@thread_a06) %> |
<%= link_to 'Back', thread_a06s_path %>
