<h1>Editing Connection Product Client</h1>

<%= render 'form', connection_product_client: @connection_product_client %>

<%= link_to 'Show', @connection_product_client %> |
<%= link_to 'Back', connection_product_clients_path %>
