<div class='mt-4'>
    <h4> <%= @article.title %> </h4>
    <div class="row">
        <div class="col-sm-6">
            <%= image_tag "https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg", class: "img-fluid" %>
        </div>
        <div class="col-sm-6">
           <p> <%= @article.body %> </p>
        </div>
     
     </div>
</div>
