<h1>Editing Process A17 Martin Markov</h1>

<%= render 'form', process_a17_martin_markov: @process_a17_martin_markov %>

<%= link_to 'Show', @process_a17_martin_markov %> |
<%= link_to 'Back', process_a17_martin_markovs_path %>
