<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_a17_martin_markov.name %>
</p>

<%= link_to 'Edit', edit_process_a17_martin_markov_path(@process_a17_martin_markov) %> |
<%= link_to 'Back', process_a17_martin_markovs_path %>
