<h1>Editing Connection Sub Customer</h1>

<%= render 'form', connection_sub_customer: @connection_sub_customer %>

<%= link_to 'Show', @connection_sub_customer %> |
<%= link_to 'Back', connection_sub_customers_path %>
