<p id="notice"><%= notice %></p>

<p>
  <strong>Id process:</strong>
  <%= @thread_a_12.id_process %>
</p>

<%= link_to 'Edit', edit_thread_a_12_path(@thread_a_12) %> |
<%= link_to 'Back', thread_a_12s_path %>
