<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_a22_radoslav_hubenov.name %>
</p>

<%= link_to 'Edit', edit_process_a22_radoslav_hubenov_path(@process_a22_radoslav_hubenov) %> |
<%= link_to 'Back', process_a22_radoslav_hubenovs_path %>

