<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.google.bg/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiCjvr4n8HaAhUksKQKHVRoBXIQjRx6BAgAEAU&url=https%3A%2F%2Fbg.m.wikipedia.org%2Fwiki%2F%25D0%25A4%25D0%25B0%25D0%25B9%25D0%25BB%3ACitroen_2016_logo.svg&psig=AOvVaw2k70KE-B2RK0Kzyg5FGmp8&ust=1524052440990112" width="30" height="30" class="d-inline-block align-top" alt="">
    Blog
  </a>
</nav>
