<div class="mt-4 pt-2">
	<h4><%= @article.title %></h4>

	<div class="row">

		<div class="col-sm-6">
			<%= image_tag @article.picture, class: "img-fluid" %>
		</div>

		<div class="col-sm-6">	
			<p> <%= @article.body %> </p>
		</div>
	</div>
</div>
