<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/#">
    <img src="https://www.favicon.cc/logo3d/160528.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Blog
  </a>
</nav>
