<nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="navbar">
  <a class="navbar-brand" href="/">
    Sample project
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav align-items-center">
      <%= link_to 'Products', products_path, class: 'nav-link' %>
    </ul>
  </div>
</nav>
