<p id="notice"><%= notice %></p>

<p>
  <strong>Processdeni09:</strong>
  <%= @threaddeni09.processdeni09 %>
</p>

<%= link_to 'Edit', edit_threaddeni09_path(@threaddeni09) %> |
<%= link_to 'Back', threaddeni09s_path %>
