<p id="notice"><%= notice %></p>

<p>
  <strong>Test thread:</strong>
  <%= @id_check.Test_Thread_id %>
</p>

<%= link_to 'Edit', edit_id_check_path(@id_check) %> |
<%= link_to 'Back', id_checks_path %>
