<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @thread_b_12.value %>
</p>

<%= link_to 'Edit', edit_thread_b_12_path(@thread_b_12) %> |
<%= link_to 'Back', thread_b_12s_path %>
